@font-face {
  font-family: 'Microstyle-Regular';
  src: url('../assets/fonts/Microstyle-Regular.ttf') format('truetype');
}

/* @font-face {
  font-family: 'Main Font Family';
  src: url('../assets/fonts/Font Family.ttf') format('truetype');
} */
